
        // Add data source        
        map.addSource("data-{{ layerId }}", {
            "type": "geojson",
            "data": {{ geojson_data }},
            "buffer": 1,
            "maxzoom": 14,
            "generateId": true
        });
        
        map.addLayer({
            "id": "label-{{ layerId }}",
            "source": "data-{{ layerId }}",
            "type": "symbol",
            "maxzoom": {{ maxzoom }},
            "minzoom": {{ minzoom }},
            "layout": {
                {% if labelProperty %}
                    "text-field": "{{ labelProperty }}",
                {% endif %}
                "text-size" : generateInterpolateExpression('zoom', [[0, {{ labelSize }}],[22, 3* {{ labelSize }}]] ),
                "text-offset": [0,-1]
            },
            "paint": {
                "text-halo-color": "{{ labelHaloColor }}",
                "text-halo-width": generatePropertyExpression('interpolate', 'zoom', [[0,{{ labelHaloWidth }}], [18,5* {{ labelHaloWidth }}]]),
                "text-color": ["case",
                    ["boolean", ["feature-state", "hover"], false], 
                    "{{ highlightColor }}", 
                    "{{ labelColor }}"]
            }
        }, "{{ belowLayer }}");

        // Add data layer
        map.addLayer({
            "id": "circle-{{ layerId }}",
            "source": "data-{{ layerId }}",
            "type": "circle",
            "maxzoom": {{ maxzoom }},
            "minzoom": {{ minzoom }},
            "paint": { "circle-radius": 1, 
                       "circle-opacity" : {{ opacity }}}
        }, "label-{{ layerId }}");
